<!-- <mat-card appearance="outlined">
    <mat-card-content> -->
<div class="filter-panel">
  <span style="font-size: 1.5rem;">Filters</span>

  <!-- File upload -->
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title> File Upload </mat-panel-title>
      </mat-expansion-panel-header>
      <div style="display: flex; flex-direction: column; gap: 12px; align-items: start;">
        <button mat-flat-button (click)="fileInput.click()">Choose File</button>
        <input type="file" #fileInput (change)="onFileSelected($event)" style="display:none;">
        <span>{{selectedFile?.name}}</span>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- Datepicker -->
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title> Date Range </mat-panel-title>
      </mat-expansion-panel-header>
      <div style="display: flex;">
        <button mat-mini-fab aria-label="clear" (click)="clearDate()" style="margin-right: 12px;">
          <mat-icon style="color: var(--mat-sys-primary);">refresh</mat-icon>
        </button>

        <mat-form-field>
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Start date" (dateChange)="setDateFilter()">
            <input matEndDate formControlName="end" placeholder="End date" (dateChange)="setDateFilter()">
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          @if (range.controls.start.hasError('matStartDateInvalid')) {
          <mat-error>Invalid start date</mat-error>
          }
          @if (range.controls.end.hasError('matEndDateInvalid')) {
          <mat-error>Invalid end date</mat-error>
          }
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- amount slider -->
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title> Transaction Range </mat-panel-title>
      </mat-expansion-panel-header>
      <div style="display: flex; flex-direction: row; gap: 12px;">
        <div class="slider-label">{{ startValue() >= 1000 ? (startValue() / 1000).toFixed(1) + 'k' : startValue() }}</div>

        <mat-slider [min]="minAmount()" [max]="maxAmount()" (change)="setRangeFilter()">
          <input [value]="startValue()" matSliderStartThumb [ngModel]="startValue()" (ngModelChange)="startValue.set($event)">
          <input [value]="endValue()" matSliderEndThumb [ngModel]="endValue()" (ngModelChange)="endValue.set($event)">
        </mat-slider>
        <div class="slider-label">{{ endValue() >= 1000 ? (endValue() / 1000).toFixed(1) + 'k' : endValue() }}</div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- category filters slider -->
  <mat-accordion>
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title> Select Categories </mat-panel-title>
      </mat-expansion-panel-header>
      <button mat-button (click)="selectAllCategories()">Select All</button>
      <button mat-button (click)="clearCategorySelection()">Clear Selection</button>
      <mat-selection-list #categoryList (selectionChange)="setCategoryFilter()">
        @for (category of this.fileService.displayCategories(); track $index) {
        <mat-list-option [value]="category">{{category}}</mat-list-option>
        }
      </mat-selection-list>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- merchant filters -->
  <mat-accordion>
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title> Select Merchants </mat-panel-title>
      </mat-expansion-panel-header>
      <button mat-button (click)="selectAllMerchants()">Select All</button>
      <button mat-button (click)="clearMerchantSelection()">Clear Selection</button>
      <mat-selection-list #merchantList (selectionChange)="setMerchantFilter()">
        @for (merchant of visibleMerchants(); track $index) {
        <mat-list-option [value]="merchant">{{merchant}}</mat-list-option>
        }
      </mat-selection-list>
      @if (showMoreMerchantsButton()) {
      <button mat-button (click)="showMoreMerchants()">Show More</button>
      }
      @if (showLessMerchantsButton()) {
      <button mat-button (click)="showLessMerchants()">Show Less</button>
      }

    </mat-expansion-panel>
  </mat-accordion>
</div>