@use '@angular/material' as mat;

.content {
    padding: 32px;
    min-height: 100vh;
    display: grid;
    margin-left: 10%;
    margin-right: 10%;

    grid-template-rows: 300px repeat(3, 400px);

    grid-gap: 20px;
}

.mobile-content {
    padding: 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

}

mat-toolbar {
    @include mat.toolbar-overrides((
        container-background-color: var(--mat-sys-primary-container),
        container-text-color: var(--mat-sys-on-primary-container),
      ));
}

.flex-space {
    flex: 1 0 auto;
}