@use '@angular/material' as mat;
@include mat.core();
@import './app/themes/theme.css';

// html {
//     color-scheme: light;
//     @include mat.theme((
//       color: mat.$azure-palette,
//       typography: Roboto,
//       density: 0
//     ));
// }


.darkMode {
    color-scheme: dark;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
}

:root {
    mat-card {
        background: var(--mat-sys-surface-container);
        color: var(--mat-sys-on-surface);
        border-color: var(--mat-sys-outline);
    }
}

